---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "cars-app"
  namespace: "default"
  labels:
    app: "cars-app"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: "cars-app"
  template:
    metadata:
      labels:
        app: "cars-app"
    spec:
      containers:
      - name: "cars-app-v1"
        image: "gcr.io/oval-precept-333108/madhu/cars-app-v1"
---
apiVersion: "autoscaling/v2beta1"
kind: "HorizontalPodAutoscaler"
metadata:
  name: "cars-app"
  namespace: "default"
  labels:
    app: "cars-app"
spec:
  scaleTargetRef:
    kind: "Deployment"
    name: "cars-app"
    apiVersion: "apps/v1"
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: "Resource"
    resource:
      name: "cpu"
      targetAverageUtilization: 60

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: cars
  name: cars
spec:
  type: LoadBalancer
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
  selector:
    name: cars-app-pod
    tier: front-end
    app: cars-app
